* {
  accent:           #81a1c1;
  background:       #2e3440;
  background-light: #3b4252;
  background-focus: #3b4252;
  foreground:       #d8dee9;
  foreground-list:  #d8dee9;
  on:               #44ad4d;
  off:              #e34039;
}
